# Inserts a blank line between shell prompts
#add_newline = true

# Timeout for starship to scan
scan_timeout = 30

# Timeout for commands executed
command_timeout = 500

# Linux Terminal Configurations.

# [shell]
# fish_indicator = "🐟"
# powershell_indicator = "_"
# unknown_indicator = "mystery shell"
# style = "cyan bold"
# disabled = false

[username]
style_user = "blue bold"
style_root = "red bold"
format = "[$user]($style)"
disabled = false
show_always = true

[hostname]
ssh_only = false
format = "[@](blue bold)[$hostname](white bold) "
# trim_at = ".companyname.com"
disabled = false

[character]
success_symbol = "[➜](bold green)"
error_symbol = "[➜](bold red)"

[sudo]
style = "bold green"
symbol = "🎃 "
disabled = false

# Disable the package module, hiding it from the prompt completely
[package]
disabled = true

# Languages
